In [1]:
import pandas, numpy

arr = numpy.array([10, 20, 30, 40, 50])

series = pandas.Series(arr)

print (series)

0    10
1    20
2    30
3    40
4    50
dtype: int32

The numpy array creates a list of integers while the panda.series converts the data into a plot series.

In [2]:
import pandas

data = {'a': 10, 'b': 20, 'c': 30}

series = pandas.Series(data)

print (series)

a    10
b    20
c    30
dtype: int64

In this instance, the panda.Series module converts the data dictionary into a plot by using the keys as rows and the values in the column.

In [3]:
import pandas

s = pandas.Series([10, 20, 30, 40, 50])

print (s[1:4])

1    20
2    30
3    40
dtype: int64

The print shows a plot but only places index 1,2 and 3 and places them with the the same rows that would be placed if it wasn't sliced.

In [4]:
import pandas

listx = [10, 20, 30, 40]

table = pandas.DataFrame(listx)

print (table)

    0
0  10
1  20
2  30
3  40

DataFrame converts the list in a row/column plot

In [5]:
import pandas

data = [{'a': 1, 'b': 2}, {'a': 2, 'b':4, 'c':8}]

table = pandas.DataFrame(data, index = ['first', 'second'])

print (table)

        a  b    c
first   1  2  NaN
second  2  4  8.0

Using the index as the rows it creates a row/column plot and fills any holes with nulls // Not a number.

In [7]:
import pandas

data = {'one': pandas.Series([1, 2, 3], index = ['a', 'b', 'c']),

'two': pandas.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])}


table = pandas.DataFrame(data)

print(table)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

It takes the dictionary and is able to create a unique set which is a panda series with specific indicies.

In [8]:
import pandas


data = {'one': pandas.Series([1, 2, 3], index = ['a', 'b', 'c']),

'two': pandas.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])}


table = pandas.DataFrame(data)

table['three'] = pandas.Series([10, 20, 30], index = ['a', 'b', 'c'])

print(table)

del table['one']

print (table)

col = table.pop('two')

print (col)

print (table)


print (table.loc['c'])

print (table.iloc[2])

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
a    1
b    2
c    3
d    4
Name: two, dtype: int64
   three
a   10.0
b   20.0
c   30.0
d    NaN
three    30.0
Name: c, dtype: float64
three    30.0
Name: c, dtype: float64

This shows how the same data can be altered to display different ways by printing diffent sections of the dataframe or how altering the dataframe will be displayed.

In [9]:
import pandas as pd

a_row = pd.Series([1, 2])

df = pd.DataFrame([[3, 4], [5, 6]], index = ["row1", "row2"])

row_df = pd.DataFrame([a_row], index = ["row3"])

df = pd.concat([row_df, df])

print(df)

      0  1
row3  1  2
row1  3  4
row2  5  6

This shows that when we concat two different frames the data from the first argument will be placed at the top of the dataframe and shows the next argument also added to the dataframe.

In [10]:
import pandas as pd

data = {'name': ['Somu', 'Kiku', 'Amol', 'Lini'],

'physics': [68, 74, 77, 78],

'chemistry': [84, 56, 73, 69],

'algebra': [78, 88, 82, 87]}



#create dataframe

df_marks = pd.DataFrame(data)

print('Original DataFrame\n------------------')

print(df_marks)


new_row = {'name':'Geo', 'physics':87, 'chemistry':92, 'algebra':97}

#append row to the dataframe

df_marks = df_marks.append(new_row, ignore_index=True)


print('\n\nNew row added to DataFrame\n--------------------------')

print(df_marks)

Original DataFrame
------------------
   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87


New row added to DataFrame
--------------------------
   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87
4   Geo       87         92       97

C:\Users\tyler\AppData\Local\Temp/ipykernel_42424/3941812693.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_marks = df_marks.append(new_row, ignore_index=True)

After converting the dictionary to a dataframe this shows that we can append rows to the dataframe and it will store the newly added row even though it was added later when it was called.

In [ ]:
import pandas as pd

df = pandas.read_csv('SalesManager.csv')

total_units = df['Units'].sum()
avg_units = df['Units'].mean()
print(f"Total Units Sold: {total_units}")
print(f"Average Units Sold: {avg_units}")



print(df['Sales Manager'].str.strip().unique())

print(df.iloc[0])
print(df.iloc[3])

new_record = {'Manager': 'New Manager', 'Region': 'New Region', 'Units': 50}
df = df.append(new_record, ignore_index=True)

df = df.drop(26)

df.to_csv('UpdatedSalesManagers.csv', index=False)